.welcome-bg-container {
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 1rem;
  font-family: 'Bree Serif';
}

.welcome-header {
  color: #f0bb03;
  font-size: 4rem;
}

.welcome-message {
  color: #ffffff;
  font-size: 2rem;
}

.subscribe-button {
  color: #1e293b;
  background-color: #ffffff;
  font-size: 1rem;
  font-family: inherit;
  padding: 1rem 2rem;
  border-radius: 0.6rem;
  font-weight: 600;
  cursor: pointer;
  outline: none;
}
